body {
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
/* FIX INSTRUCTIONS BUTTON */
.navbar ul{
    list-style: none;
    background: #a98a56;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2rem 4rem;
}

.navbar a:hover{
    background-color: #ceae78;
}

ul {
    list-style-type: none;
    padding: 0;
}

section {
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 0;
}

article {
    padding: 5rem;
    width: calc(100% / 2);
}