<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LENTOPELI ALPHA</title>

    <link href="../static/styles/about.css" rel="stylesheet">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen&display=swap"
          rel="stylesheet">
</head>
<body>
    <div class="navbar">
            <ul>
                <li><a href="/guide"> GUIDE </a></li>
                <li><a href="/"> MENU </a></li>
                <li><a href="/"> GAME </a></li>
            </ul>
    </div>
    <article>
        <h1>ABOUT</h1>
        <p>Hey, we would like to thank you for playing our game, it really means a lot to us!  This game is a project of
          four first year students in IT, so forgive us if it isn’t the next CS 1.6, although it still is better than
        Valtsus game (THATS RIGHT I SAID IT!!)</p>
        <p></p>
        <p>By Reima, Inka, Sami, Petri</p>
    </article>
</body>
</html>