<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LENTOPELI_ALPHA</title>
    <link href="../static/styles/front_page.css" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&family=Silkscreen&display=swap'); </style>
    </head>

<div class="wrapper">
    <div class="typing-demo">
      WELCOME, PILOT
    </div>
</div>

<body>
    <section>
        <a href="guide.html"><article>GUIDE</article></a>
        <a href="main.html"><article>GAME</article></a>
        <article>ABOUT</article>
    </section>
    <div>
    <form action="/game">
        <input name="name" />
        <input type="submit" value="Username"/>
    </form></div>
</body>
</html>