<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LENTOPELI ALPHA</title>

    <link href="../static/styles/guide.css" rel="stylesheet">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen&display=swap"
          rel="stylesheet">
</head>
<body>
    <div class="navbar">
            <ul>
                <li><a href="/about"> ABOUT </a></li>
                <li><a href="/"> MENU </a></li>
                <li><a href="/game"> GAME </a></li>
            </ul>
    </div>
    <article>
        <h1>GUIDE</h1>
        <p>Hey! This page will guide you to play our game, Flight Simulator 2: The Flight Simulatorning!</p>
        <p>First of all, you will need to choose a name for yourself pilot! Basically anything will do, just keep it under X amount, okay?</p>
        <p>After you’ve chosen yourself a worthy nickname (For example: “Captain Weinermeister”!), you get to choose what kind
        of choose_plane will you be piloting! You can either choose a big commercial jet or a smaller private choose_plane. The commercial
        jet can go farther in one flight than the smaller choose_plane, but it also releases more CO2 to the atmosphere, and vice
        versa!</p>
        <p>Next up, our super awesome high-tech giga-mega-super-duper-computer HAL-10000 will randomly choose a
            destination for you! After HAL-10000 has done its thing, your mission is to get to the destination airport
            with as minimal CO2-emissions as possible!</p>
        <p>To play the game, you only have to choose your next destination airport from the map! The game will end when
            you reach your destination (duh!) !</p>
    </article>
</body>
</html>